# LaTeX build files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.glo
*.glg
*.gls
*.ist
*.acn
*.acr
*.alg
*.glsdefs
*.xdy
*.nav
*.snm
*.vrb
*.tdo

*.DS_Store
# Intermediate and backup files
*.dvi
*.ps
*.eps
*.bak
*.bkp
*.tmp
*.swp
*~
